@media (max-width: 768px) {
  .top-nav{
    display: none;
  }

  .fprod{
    font-size: 10pt;
  }

  .dis768{
    display: block;
  }

  .sticky-nav{
  	display: inherit;
  }

  .right768{
	 float: right;
  }

  .w-chat{
    width: 260px;
  }
}
